 <%= form_tag("/person/do_amend", method: "get") do %>
 <input name="id" type="hidden" value="<%=params[:id]%>">
 <input type="hidden" name="next_path" value="<%=params[:next_path] ? params[:next_path] :'/manage_requests'%>">
<fieldset>
	 <legend><font size='5' style='border: 2px;'>Enter Reason for Amendment</font></legend>
	 <div class="field">
	 		<label for="reason">Enter reason: </label>
	 		<input id="reason" name="reason">
	 </div>
</fieldset>
<% end %>
<script type="text/javascript">
	init();
    cancelDestination = '<%= request.referrer%>'
</script>
