<div style="display: table; width: 100%; border-spacing: 0.15em; color: #3465a4; font-size: 32px; margin-top: 50px; padding:0">

  <div style="display: table-row; padding:0">

    <div style="display: table-cell; text-align: right; width: 45%;padding:0%">

      Current Password

    </div>

    <div style="display: table-cell; text-align: center;padding:0%">

      :

    </div>

    <div id="cursor_for_old_password" style="display: table-cell; font-weight: bold; font-size: 36px;padding:0%">
    </div>

    <div style="display: table-cell; width: 45%;padding:0%">

      <input type="password" name="old_password" id="old_password" value="" class="input_cell" onclick="changeFocusToMe(this)" />

    </div>

  </div>
  <div style="display: table-row; padding:0">

    <div style="display: table-cell; text-align: right; width: 45%;padding:0%">

      New Password

    </div>

    <div style="display: table-cell; text-align: center;padding:0%">

      :

    </div>

    <div id="cursor_for_new_password" style="display: table-cell; font-weight: bold; font-size: 36px;padding:0%">
    </div>

    <div style="display: table-cell; width: 45%;">

      <input type="password" name="new_password" id="new_password" value="" class="input_cell" onclick="changeFocusToMe(this)" />

    </div>

  </div>

  <div style="display: table-row;padding-top:0%">
    <div style="display: table-cell; text-align: right; width: 45%;padding:0%">

      Confirm Password

    </div>

    <div style="display: table-cell; text-align: center;padding:0%">

      :

    </div>

    <div id="cursor_for_confirm_password" style="display: table-cell; font-weight: bold; font-size: 36px;padding:0%">
    </div>

    <div style="display: table-cell; width: 45%;padding:0%">

      <input type="password" name="confirm_password" id="confirm_password" value="" class="input_cell" onclick="changeFocusToMe(this)" />

    </div>

  </div>

  </div>

</div>

<div id="cursor" style="color: red;padding-top:0%">*</div>

<div id="keyboard-container" style="position: absolute; border: 1px solid #3465a4; border-radius: 10px; width: 80%; height: 260px; bottom: 90px; left: 10%; min-width: 700px; "></div>

<button id="btnAction" class="blue" style="position: absolute; right: 160px; bottom: 20px;" onclick="changePassword();">Update
  Password
</button>

<script>
    var keyboard = "<%= User.current.preferred_keyboard %>";
    function __$(id) {
        return document.getElementById(id);
    }

    function changePassword() {

        if (__$("new_password") && __$("confirm_password") && __$("old_password") && (
                __$("new_password").value.trim().length == 0 || __$("confirm_password").value.trim().length == 0 ||
                __$("old_password").value.trim().length == 0)) {

            showMsg("Please fill all fields!");

         } else if (__$("new_password") && __$("confirm_password") && __$("new_password").value.trim() != __$("confirm_password").value.trim()) {

            showMsg("Password Mismatch!");

         } else if (__$("new_password") && __$("confirm_password") && __$("new_password").value.trim() == __$("old_password").value.trim()) {

            showMsg("Old password and new password are the same!");

        
         } else {

            ajaxSave();

        }

    }

    function ajaxSave() {

        var url = "/users/update_password";

        var data = "old_password=" + __$("old_password").value.trim() + "&new_password=" + __$("new_password").value.trim();

        var httpRequest = new XMLHttpRequest();
        httpRequest.onreadystatechange = function () {
            handleSave(httpRequest);
        };
        try {
            httpRequest.open('POST', url, true);
            httpRequest.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
            httpRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            httpRequest.setRequestHeader("X-Requested-With", "XMLHttpRequest");
            httpRequest.send(data);

        } catch (e) {
        }
    }

    function handleSave(aXMLHttpRequest) {
        if (!aXMLHttpRequest) return;

        if (aXMLHttpRequest.readyState == 4 && (aXMLHttpRequest.status == 200 ||
                aXMLHttpRequest.status == 304)) {

            var result = aXMLHttpRequest.responseText;

            if (result.trim().toLowerCase() == "true") {

                showMsg("Password Succesfully Changed!");

                window.location = "/";

            } else if (result.trim().toLowerCase() == "not same") {

                showMsg("Your Current Password is not correct!");

            } else if (result.trim().toLowerCase() == "same") {

                showMsg("Your new Password has been used before!");

            } else {

                showMsg("Password Change Failed!");

            }
            

        }
    }

    function changeFocusToMe(control){

        if(control) {

            if(__$("cursor_for_" + control.id)){

                if(__$("cursor")){

                    __$("cursor_for_" + control.id).appendChild(__$("cursor"));

                }

            }

            if(keyboard == 'qwerty'){
                currentKeysQWERTY = true
            }else{
                currentKeysQWERTY = false
            }

            showFixedKeyboard(control, __$("keyboard-container"), undefined, undefined, true);

        }

    }

    changeFocusToMe(__$("old_password"));
    
    
     showMessage()

  function  showMessage()
  {
      <% if flash[:error].present? %>
          showMsg('<%= flash[:error] %>');
      <% elsif flash[:info].present? %>
          showMsg('<%= flash[:info] %>');    
      <% end %>
     
  }


</script>
