application_mode: FC #FC|DC
location_id: 35077  #facility_id |district_id [location_id of the health facility or district_id in location table]
scan_from_remote: true
enable_role_privileges: true
remote_url: http://192.168.5.13:5000
duplicate_precision: 80
potential_search: false
app_gate_url: 
sync_protocol: 'http'
sync_host: 0.0.0.0:5984
sync_database: 
sync_username: 
sync_password: 
ebrs_services_link: http://0.0.0.0:10001
